body {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

button {
    display: block;
    margin: 0 auto;
    color: #fffdfb;
    padding: 7px 10px;
    border: none;
    border-radius: 30px;
    background-color: #1f6cb0;
}

button:hover {
    background-color: #4f81c7;
}

li {
    color: #1f6cb0;
    font-size: 17px;
    line-height: 30px;
    list-style: none;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
}

.change-city {
    text-align: center;
}

.frame {
    font-family: "Lekton", sans-serif;
    margin: 50px auto;
    padding: 20px 30px 10px;
    max-width: 550px;
    background: #ffffff99;
    border-radius: 20px;
}

.col {
    text-align: center;
    background: #ffffff99;
    border-radius: 30px;
    margin: 5px;
    transition: all 200ms ease;
}

.col:hover {
    cursor: pointer;
    background: #f3dfe3;
}

.day {
    color: #1f6cb0;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
}

.weather-icon {
    width: 40px;
    margin-bottom: 10px;
}

.weather-icon:hover {
    width: 50px;
}

.current-icon {
    width: 130px;
}

.current-temp {
    font-weight: 600;
    font-size: 30px;
}

.city-name {
    border: none;
    border-radius: 30px;
    padding: 7px 10px;
}

.search-button {
    color: #fffdfb;
    padding: 7px 10px;
    border: none;
    border-radius: 30px;
    background-color: #1f6cb0;
}

.search-button:hover {
    background-color: #4f81c7;
}

.current-weather {
    font-size: 18px;
}

.characteristics {
    background: #ffffff99;
    border-radius: 30px;
    padding: 5px;
}

.units {
    font-size: 20px;
}

#celsius-convert {
    text-decoration: none;
    color: #1f6cb0;
    cursor: default;
}

#celsius-convert:hover {
    color: #f76b8a;
    font-size: 22px;
}

#fahrenheit-convert {
    text-decoration: none;
    color: #1f6cb0;
    cursor: default;
}

#fahrenheit-convert:hover {
    color: #f76b8a;
    font-size: 22px;
}

.temperature {
    font-size: 14px;
}

.email {
    color: #b7569a;
    text-decoration: none;
}
.github-link {
    color: #b7569a;
    text-decoration: none;
}
.netlify-web {
    color: #b7569a;
    text-decoration: none;
}